@font-face {
  font-family: 'Manrope';
  src: url('./assets/fonts/manrope.ttf');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-drag: none;
  font-family: 'Manrope';
  outline: none;
}
body {
  color: white;
  background-color: rgba(10, 10, 10);
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
#root {
  height: 100%;
}
#overlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 120000;
  pointer-events: none;
}
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.25);
}
.app-title {
  padding: 10px;
  padding-right: 160px;
  position: fixed;
  gap: 10px;
  z-index: 100000;
  top: 10px;
  left: 10px;
  width: calc(100% - 20px);
  border-radius: 7px;
  background-color: rgba(30, 30, 30, 0.7);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(35px);
  overflow: hidden;
  box-shadow: 0 0 15px 5px rgba(30, 30, 30, 0.5);
  transition: transform 550ms;
  -webkit-app-region: drag;
}
body.hide .app-title {
  transform: translateY(-125%);
}
body.open-explore .app-title {
  transform: translateY(0) !important;
}
.app-title span {
  font-size: 0.86rem;
  color: rgba(255, 255, 255, 0.75);
  font-weight: bold;
}
.app-icons {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.app-title-icon {
  background-color: rgba(10, 10, 10, 0.25);
  height: 100%;
  width: 50px;
  color: white;
  border: none;
  -webkit-app-region: no-drag;
}
.app-title-icon:hover {
  background-color: rgba(100, 100, 100, 0.7);
}
.app-title-icon.app-title-icon-close:hover {
  background-color: rgba(255, 20, 20);
}
#videoTitle {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5px 10px;
  border-radius: 7px;
}

.flex-inline {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gap-5 {
  gap: 5px;
}
.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-20 {
  gap: 20px;
}

.sidebar {
  width: 250px;
  background-color: rgba(20, 20, 20);
  height: 100%;
}

.player-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.player-inline {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.video-player {
  width: 100%;
  height: 100%;
  transform-origin: bottom right;
  transition: transform 550ms, right 550ms;
}
body.open-explore .video-player {
  position: fixed;
  border-radius: 75px;
  pointer-events: all;
  box-shadow: 0 0 10px 1px rgba(10, 10, 10, 0.15);
  transform: scaleY(25%) scaleX(25%) translateY(-150px) translateX(-150px);
  transform-origin: bottom right;
  cursor: pointer;
}
body.open-explore #playerMedia {
  pointer-events: none;
}
.overlay-text {
  opacity: 0;
  position: absolute;
  right: 60px;
  bottom: 60px;
  font-size: 0.8rem;
  z-index: 10;
  background-color: rgba(75, 75, 75, 0.5);
  backdrop-filter: blur(25px);
  padding: 5px 10px;
  border-radius: 7px;
  transition: opacity 550ms;
}
body.open-explore .overlay-text {
  opacity: 1;
}
.player-controls-container {
  position: absolute;
  z-index: 100;
  bottom: 25px;
  left: 50%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  transform: translateY(0) translateX(-50%);
  transition: transform 550ms;
}
body.hide .player-controls-container {
  transform: translateY(125%) translateX(-50%);
}
body.open-explore .player-controls-container {
  transform: translateY(125%) translateX(-50%) !important;
}
.player-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(30, 30, 30, 0.5);
  padding: 10px;
  border-radius: 7px;
  backdrop-filter: blur(35px);
  min-width: 750px;
  box-shadow: 0 0 5px 1px rgba(30, 30, 30, 0.5);
}
.player-controls.player-between {
  flex-direction: row;
  justify-content: space-between;
}
.drag-control {
  position: relative;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.drag-control::before {
  content: '';
  width: 100%;
  position: absolute;
  height: 15px;
  top: -5px;
}
.drag-control-bar {
  position: absolute;
  height: 100%;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  pointer-events: none;
  transition: width 150ms, background-color 150ms, box-shadow 150ms;
}
.drag-control:hover .drag-control-bar {
  box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.55);
  background-color: rgba(255, 255, 255, 0.7);
}
.drag-control span.button {
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255);
  transition: left 150ms;
  pointer-events: none;
}
.player-time {
  display: flex;
  flex-shrink: 0;
  font-size: 0.86rem;
  font-weight: bold;
  width: 60px;
  align-items: center;
  justify-content: center;
}
.player-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.button {
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
  height: 30px;
  width: 30px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: background-color 150ms;
  -webkit-app-region: no-drag;
}
.button.button-text {
  width: unset;
  height: unset;
  padding: 10px 12px;
  font-size: 0.8rem;
  gap: 10px;
}
.button:hover {
  background-color: rgba(255, 255, 255, 0.35);
}
.button.button-big {
  height: 45px;
  width: 45px;
}
.button.button-off {
  cursor: default;
  color: rgba(255, 255, 255, 0.25);
}
.button.button-off:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
.button.button-icon-back {
  height: 40px;
  width: 50px;
  background-color: rgba(0, 0, 0, 0);
}
.button.button-icon-back:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
.custom-input {
  position: relative;
  -webkit-app-region: no-drag;
}
.custom-input input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

#exploreMedia {
  position: fixed;
  /* z-index: 600; */
  width: 100vw;
  height: 100vh;
  background-color: rgba(10, 10, 10);
  transform: translateX(-120%);
  transition: transform 750ms;
}
body.open-explore #exploreMedia {
  transform: translateX(0);
}
.chevron-left {
  transition: transform 150ms;
}
body.open-explore .chevron-left {
  transform: rotateZ(180deg);
}
.explore-media {
  display: flex;
  flex-direction: row;
  padding: 10px;
  padding-top: 80px;
  height: 100%;
  gap: 10px;
}
.sidebar {
  display: flex;
  flex-direction: column;
  background-color: rgba(30, 30, 30);
  height: 100%;
  border-radius: 7px;
  padding: 10px;
  flex-shrink: 0;
  /* gap: 5px; */
}
.sidebar .sidelist {
  padding: 7px;
  font-size: 0.86rem;
  color: rgba(255, 255, 255, 0.35);
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  cursor: pointer;
  transition: color 150ms, border-right 550ms, text-shadow 150ms;
}
.sidebar .sidelist.sidelist-active {
  color: rgba(255, 255, 255);
  border-right: 1px solid rgba(255, 255, 255);
  cursor: default;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.75);
}
.history {
  background-image: linear-gradient(45deg, rgba(30, 30, 30), rgba(30, 30, 30));
  border-radius: 7px;
  width: 100%;
  /* padding: 10px; */
  overflow-y: auto;
}
.history-title {
  background-image: linear-gradient(
    0deg,
    rgba(40, 40, 40),
    rgba(30, 30, 30, 0.1)
  );
  height: 150px;
  border-radius: 7px 7px 0 0;
  padding: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.history-content {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  overflow-y: auto;
}
.history-tile {
  display: flex;
  flex-direction: row;
  background-color: rgba(50, 50, 50);
  padding: 10px;
  border-radius: 7px;
  /* cursor: pointer; */
  align-items: center;
  gap: 10px;
  transition: background-color 150ms;
}
.history-tile h4 {
  word-break: break-all;
}
.history-tile span {
  font-size: 0.8rem;
  color: rgba(125, 125, 125);
  word-break: break-all;
}
.history-tile:hover {
  background-color: rgba(60, 60, 60);
}

.tooltip {
  background-color: rgba(175, 175, 175, 0.2);
  position: absolute;
  transform: translate(-50%, calc(-100% - 10px));
  padding: 5px;
  border-radius: 4px;
  backdrop-filter: blur(15px);
  font-size: 0.8rem;
  font-weight: bold;
}
.mouse-tooltip {
  display: flex;
  position: absolute;
  background-color: rgba(175, 175, 175, 0.2);
  padding: 5px 10px;
  border-radius: 7px;
  font-size: 0.8rem;
  font-weight: bold;
  pointer-events: none;
  /* white-space: nowrap; */
  max-width: 450px;
  width: max-content;
  box-shadow: 0 3px 8px 1px rgba(30, 30, 30, 0.55);
  transform: translateY(calc(-100% - 10px));
  backdrop-filter: blur(15px);
}
.mouse-tooltip.center {
  transform: translateX(-50%) translateY(calc(-100% - 10px));
}
.mouse-tooltip.left {
  transform: translateX(-100%) translateY(calc(-100% - 10px));
}

.advanced-alert {
  position: fixed;
  box-shadow: 0 3px 10px 1px rgba(30, 30, 30, 0.35);
  right: -105%;
  top: 90px;
  padding: 5px 10px 5px 5px;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
  overflow: hidden;
  animation-name: advanced-alert;
  animation-duration: 9000ms;
  max-width: 450px;
  width: max-content;
  backdrop-filter: blur(15px);
  background-color: rgba(30, 30, 30, 0.25);
}
.advanced-alert svg {
  display: block;
  height: 30px;
  width: 30px;
  flex-shrink: 0;
  fill: rgba(255, 255, 255, 0.55);
}
.advanced-alert span.span-text {
  font-weight: bold;
  white-space: nowrap;
  padding-right: 10px;
}
@keyframes advanced-alert {
  0% {
    right: -105%;
  }
  7% {
    right: 35px;
  }
  9% {
    right: 15px;
  }
  50% {
    right: 15px;
  }
  52% {
    right: 35px;
  }
  62% {
    right: -105%;
  }
}

.element-dropdown {
  position: absolute;
  transform: translate(-50%, 5px);
  background-color: rgba(75, 75, 75, 0.5);
  padding: 10px 0;
  border-radius: 7px;
  backdrop-filter: blur(15px);
  min-width: 150px;
}
.element-dropdown a {
  display: block;
  cursor: pointer;
  pointer-events: all;
  background-color: rgba(30, 30, 30, 0.15);
  padding: 5px 10px;
  font-size: 0.8rem;
  color: white;
  text-decoration: none;
}
.element-dropdown a:hover {
  background-color: rgba(30, 30, 30, 0.35);
}

.volume-rocker {
  position: relative;
  padding: 5px;
  position: absolute;
  transform: translateX(-50%) translateY(calc(-100% + 15px));
  background-color: rgba(75, 75, 75, 0.5);
  backdrop-filter: blur(55px);
  border-radius: 25px;
}
.volume-bar {
  display: block;
  /* background-color: rgba(75, 75, 75, 0.5); */
  height: 150px;
  width: 20px;
  bottom: 100%;
  left: 50%;
  backdrop-filter: blur(55px);
  -webkit-backdrop-filter: blur(35px);
  border-radius: 15px;
  /* box-shadow: 0 3px 5px 1px rgba(30, 30, 30, 0.35); */
}
.volume-bar .volume-button {
  display: block;
  width: 100%;
  height: 20px;
  background-color: rgba(255, 255, 255);
  position: absolute;
  bottom: 35%;
  left: 50%;
  transform: translateX(-50%) translateY(10px);
  border-radius: 15px;
  z-index: 2;
  box-shadow: 0 0 5px 1px rgba(30, 30, 30, 0.5);
}
.volume-bar .volume-length {
  display: block;
  width: 100%;
  height: 35%;
  background-color: rgba(100, 100, 100);
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transform-origin: bottom;
  border-radius: 15px;
}
